{
	"presets": [
		[
			"@babel/preset-env",
			{
				"modules": false,
				"targets": {
					"node": "current",
					"browsers": "last 4 versions"
				}
			}
		]
	],
	"plugins": ["babel-plugin-styled-components"]
}
